<section class='page-settings'>
  <a href='/messenger'>⬅️ Вернуться</a>

  <div class='form'>
    <form>
      <label class='form__avatar' for='avatar' title='Загрузить фото профиля'>
        {{{avatar}}}
      </label>
    </form>

    <form id='profile'>
      <div class='form__controls'>
        {{{profile}}}
      </div>
    </form>
  </div>

  <form class='form' id='changePassword'>
    <h2>Изменить пароль</h2>
    <div class='form__controls'>
      {{{password}}}
    </div>
  </form>

  <div>
    {{{logout}}}
  </div>
</section>
