<a href="#" class="dialog-preview">
  <div class="dialog-preview__avatar">
    {{>avatar/avatar size="47px" src="https://images.unsplash.com/photo-1567446537708-ac4aa75c9c28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=200&q=80"}}
  </div>
  <div class="dialog-preview__title">
    <div class="message-title">Киноклуб</div>
    <div class="message-time">11:46</div>
  </div>
  <div class="dialog-preview__subtitle">
    <div class="message-text">Друзья, у меня для вас особенный выпуск новостей! В 2008 году художник Jon Rafman начал собирать...</div>
    <div class="message-badge">2</div>
  </div>
</a>
