.btn {
  width: max-content;
  display: block;
  padding: 12px 24px;
  color: var(--button-color);
  background: var(--button-background);
  border: none;
  border-radius: 8px;
  transition: var(--transition-all);
  cursor: pointer;
  font-weight: normal;

  &:hover {
    &:not(&:active) {
      background: var(--button-background-hover);
    }
  }
}
