.users {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  overflow: auto;
  max-height: 100vh;

  .user {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--gray-border);
    cursor: pointer;
    transition: var(--transition-all);

    &:hover {
      background-color: var(--gray-border);
    }

    &.is-active {
      background-color: var(--blue-hover);
    }
  }
}
