<section data-view='chat-create'>
  <div class='chat-create'>
    <div class='chat-create__header'>
      {{{back}}}
    </div>
    <div class='chat-create__body'>
      {{{chatTitle}}}
      {{{chatButton}}}
    </div>
  </div>
</section>
