.chats {
  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    &-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    input {
      border: none;
      background-color: var(--gray-border);
      padding: 10px 0;
      text-align: center;
      width: 100%;
      border-radius: 6px;

      &:focus {
        outline: none;
        border-bottom-color: var(--input-border-focus);
      }
    }
  }

  &__body {
    overflow: auto;
  }
}
